/* TABLET */
@media screen and (max-width: 700px) {

    /* MUSIC LAYER */
    .box-image {
        width: calc(100% / 4);
    }
}

/* MOBILE M */
@media screen and (max-width: 600px) {

    /* MUSIC LAYER */
    .box-image {
        width: calc(100% / 2);
    }

}

/* MOBILE S */
@media screen and (max-width: 600px) {

    /* SIDEBAR */
    :root {
        --nav-width: 40px;
    }

    .no-display {
        display: none;
    }

    .logo-small {
        display: block;

    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .player-album,
    .player-audio {
        width: 80px;
    }

    .player-album .track {
        display: none;
    }

    .player-album .icons-track {
        justify-content: center;
        flex-direction: column;
    }

    .player-actions i {
        margin-left: 0px;
    }

    .player-actions .progress-bar input {
        width: 50%;
    }

    .player-audio {
        flex-direction: column;
    }

    .player-audio input {
        width: 90%;
    }
}