/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

img {
    max-width: 100%;
}

body {
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 46.3%);

}

ul {
    list-style-type: none;
}

/* COMMON */

.flex {
    display: flex;
}

:root {
    --header-height: 80px;
    --nav-width: 150px;
    --footer-heigth: 60px;
}

/* #region HEADER */
header {
    height: var(--header-height);
    background-color: rgba(0, 0, 0, 0.431);
    position: fixed;
    width: calc(100% - var(--nav-width));
    top: 0;
    right: 0;
    z-index: 999;
}

.container-header {
    justify-content: flex-end;
    align-items: center;
    height: var(--header-height);
}

.cont-btn-upgrade a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    background-color: wheat;
    border: 1px solid black;
    border-radius: 30px;
    padding: .7em 1.2em;
}

/* #endregion HEADER */
/* SIDE NAV BAR */
.nav {
    width: var(--nav-width);
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - var(--footer-heigth));
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
}

.account-app {
    justify-self: flex-end;
}

/* #region MAIN */

.container {
    background-color: #141922;
    color: white;
    padding-top: var(--header-height);
    justify-content: flex-end;
    height: calc(100vh - var(--footer-heigth));
    overflow: auto;
}

.layer {
    width: calc(100% - var(--nav-width));
}

.nav-layer {
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}

.nav-layer ul {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1em;
}

.nav-layer ul li {
    padding-left: .9em;
    font-size: .9rem;
}


.container-user {
    width: 98%;
    /* height: 300px; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* gap: 5px; */
    margin: 2em auto;
}


.box-image {
    width: calc(100% / 6);
    padding-left: 5px;
}



/* #endregion MAIN */
/* #region FOOTER */
footer {
    height: var(--footer-heigth);
    background-color: #282828;
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    z-index: 998;
}

.wrapper-footer {
    height: var(--footer-heigth);
    width: 100%;
    justify-content: space-between;
}

.player-album,
.player-audio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    color: white;
}

.player-actions {
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.progress-bar {
    text-align: center;
    width: 100%;
}

.progress-bar input {
    background-color: #fff;
    width: 60%;
}

.player-audio input {
    width: 40%;
}

.img-track {
    width: 50px;
    margin-right: 10px;
}

.track {
    margin-right: 30px;
}

.icons-track {
    color: #8b8b8b;
}

.icons-track i:first-child {
    margin-right: 5px;
}

/* #endregion FOOTER */