/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

img {
    max-width: 100%;
}

body {
    line-height: 1.2;
}

a {
    text-decoration: none;

}

ul {
    list-style-type: none;
}

/* COMMON */

.flex {
    display: flex;
}

:root {
    --header-height: 60px;
    --nav-width: 150px;
    --footer-heigth: 60px;
}

/* #region HEADER */
header {
    height: var(--header-height);
    background-color: blue;
    opacity: 1;
    position: fixed;
    width: calc(100% - var(--nav-width));
    top: 0;
    right: 0;
    z-index: 999;
}

.container-header {
    justify-content: flex-end;
    align-items: center;
    height: var(--header-height);
}

.cont-btn-upgrade a {
    text-decoration: none;
    color: inherit;
    background-color: wheat;
    border: 1px solid black;
    border-radius: 30px;
    padding: .7em 1.2em;
}

/* #endregion HEADER */
/* SIDE NAV BAR */
.nav {
    width: var(--nav-width);
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - var(--footer-heigth));
    flex-direction: column;
    justify-content: space-between;
    /* DEBUG */
    background-color: aquamarine;
}

.account-app {
    justify-self: flex-end;
}

/* #region MAIN */

.container {
    margin-top: var(--header-height);
    border: 1px solid red;
    justify-content: flex-end;
    height: calc(100vh - var(--footer-heigth) + 50px);
}

.layer {
    width: calc(100% - var(--nav-width));
}

.nav-layer {
    margin: 0 auto;
    text-align: center;
}

.nav-layer ul {
    justify-content: center;
    flex-wrap: wrap;
}

.nav-layer ul li {
    padding-left: .9em;
    font-size: .9rem;
}


.container-user {
    width: 98%;
    /* height: 300px; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* gap: 5px; */
    margin: 2em auto;
    /* DEBUG */
    border: 1px solid black;
}


.box-image {
    width: calc(100% / 6);
    padding-left: 5px;
}



/* #endregion MAIN */
/* #region FOOTER */
footer {
    height: var(--footer-heigth);
    background-color: lightslategray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 998;
}

/* #endregion FOOTER */